<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		.logo, .list, .login{
			float: left;
		}
		.logo{
			width: 30%;
		}
		.list{
			width: 50%;
		}
		.login{
			width: 20%;
		}

		.list li{
			float: left;
			list-style-type: none;
			padding: 0px 10px;
		}
	</style>
</head>
<body>

	<nav>
		<div class="logo">
			<a href="#"><img src="https://digital-lync.com/assets/images/digitallynclogo.svg"></a>
		</div>
		<div class="list">
			<ul>
				<li><a href="/register">Register</a></li>
				<li><a href="/walkin">Walkin
</a></li>
				<li><a href="/calling">Calling</a></li>
				<li><a href="/counselling">Counselling</a></li>
<li><a href="/joining">joining</a><li>
				<li><a href="/currentstatus">Current Status</a></li>
			
</ul>
		</div>

	</nav>



</body>
</html>